<div class="banner">
  <div class="banner-content">
    <h1>Godly cocktails</h1>
    <p>A selection of only the most powerful cocktails in town</p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn-medium" %>
  </div>
</div>
