<div class="banner">
  <div class="banner-content">
    <h1>Discover Ancient Cocktails!</h1>
    <p>Discover and create your own Godly recipes</p>
    <p>Choose from tons of different ingredients</p>
  </div>
</div>
